<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<header>
  <div class="row">
    <div class="left-column">
      <h1>Department of Computer Science</h1>
    </div>
    <div class="right-column">
      <a href="https://www2.gmu.edu/" target="_blank">
        <img alt="George Mason University" height="181" src="assets/mason-logo.png" width="259">
      </a>
    </div>
  </div>
</header>

<section>
  <nav>
    <ul>
      <li><a href="./index.html">Assignment I</a></li>
      <li><a href="./hw2.html">Assignment II</a></li>
      <li class="current"><a href="./survey.html">CS Survey</a></li>
    </ul>
  </nav>

  <article>
    <h1 class="title">CS Department Survey</h1>
    <p>This page is being conducted to better understand about student in computer science department of George
      Mason university. If you agree to participate, you will be asked to complete a series of questions
      describing yourself. We expect the survey to take approximately 5 minutes to complete. </p>
    <p>Please note that all fields marked with a <strong>red asterisk (<span style="color: red">*</span>)</strong>
      are <strong>required</strong>.</p>
    <div>
      <form autocomplete="on" id="survey">
        <div class="box">
          <div class="container">
            <label class="required" for="username">User name </label>
            <input type="text" id="username" name="username" [(ngModel)]="model.username" style="width: 38%;" required autofocus>
          </div>

          <div class="container">
            <fieldset id="address">
              <legend>Address</legend>
              <div class="row">
                <div class="element">
                  <label class="required" for="street">Street address </label>
                  <input type="text" id="street" name="street" [(ngModel)]="model.street" style="width: 70%;" required>
                </div>
                <div class="element">
                  <label class="required" for="zip">Zip Code </label>
                  <input type="text" id="zip" name="zip" [(ngModel)]="model.zip" required>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="element">
                  <label class="required" for="city">City </label>
                  <input type="text" id="city" name="city" [(ngModel)]="model.city" style="width: 86%;" required="">
                </div>
                <div class="element">
                  <label class="required" for="e-mail">E-mail </label>
                  <input type="email" id="e-mail" name="e-mail" [(ngModel)]="model.email" style="width: 82%;" required placeholder="user.name@gmu.edu">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="element">
                  <label class="required" for="state">State </label>
                  <input type="text" id="state" name="state" [(ngModel)]="model.state" style="width: 84%;" required>
                </div>
                <div class="element">
                  <label class="required" for="telephone">Phone number </label>
                  <input type="tel&quot;" id="telephone" name="telephone" [(ngModel)]="model.telephone" style="width: 70%;" required
                         placeholder="+1 (999) 999-9999">
                </div>
              </div>
              <br>
            </fieldset>
          </div>
          <div class="container">
            <label for="url">URL </label>
            <input type="url" id="url" name="url" [(ngModel)]="model.url" pattern="https?://.+" placeholder="https://cs.gmu.edu/"
                   style="width: 95%;">
          </div>
          <div class="container">
            <fieldset id="graduation">
              <legend>Graduation Year</legend>
              <div class="row">
                <label class="required" for="month">Month</label>
                <input list="months" id="month" name="month" [(ngModel)]="model.month" required>
              </div>
              <div class="row">
                <label class="required" for="year">Year</label>
                <input type="text" id="year" name="year" [(ngModel)]="model.year" required>
              </div>
            </fieldset>
          </div>
          <div class="container">
            <fieldset id="campus_fav">
              <legend>What did you like most about the campus?</legend>
              <div class="row">
                <div class="element col-3">
                  <input type="checkbox" id="students" name="students" [(ngModel)]="model.students">
                  <label for="students">Students</label>
                </div>
                <div class="element col-3">
                  <input type="checkbox" id="location" name="location" [(ngModel)]="model.location">
                  <label for="location">Location</label>
                </div>
                <div class="element col-3">
                  <input type="checkbox" id="campus" name="campus" [(ngModel)]="model.campus">
                  <label for="campus">Campus</label>
                </div>
              </div>
              <div class="row">
                <div class="element col-3">
                  <input type="checkbox" id="atmosphere" name="atmosphere" [(ngModel)]="model.atmosphere">
                  <label for="atmosphere">Atmosphere</label>
                </div>
                <div class="element col-3">
                  <input type="checkbox" id="dorm" name="dorm" [(ngModel)]="model.dorm">
                  <label for="dorm">Dorm rooms</label>
                </div>
                <div class="element col-3">
                  <input type="checkbox" id="sports" name="sports" [(ngModel)]="model.sports">
                  <label for="sports">Sports</label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="container">
            <fieldset id="uni_interest">
              <legend class="required">How did you became interested in the university?</legend>
              <input type="radio" id="friends" name="uni_interested" [(ngModel)]="model.interested" value="Friends" required data-msg-required="This field is required."> Friends<br>
              <input type="radio" id="television" name="uni_interested" [(ngModel)]="model.interested" value="Television"> Television<br>
              <input type="radio" id="internet" name="uni_interested" [(ngModel)]="model.interested" value="Internet"> Internet<br>
              <input type="radio" id="other" name="uni_interested" [(ngModel)]="model.interested" value="Other"> Other<br>
            </fieldset>
          </div>
          <div class="container">
            <label class="required" for="likelihood">
              How are you likelihood to recommend this school to other prospective students?
            </label>
            <select id="likelihood" [(ngModel)]="model.likelihood" style="width: 20%;" required data-msg-required="This field is required.">
              <option value="very" selected="selected">Very</option>
              <option value="likely">Likely</option>
              <option value="unlikely">Unlikely</option>
            </select>
          </div>
          <div class="container">
            <fieldset id="uni_rate">
              <legend>University Rate</legend>
              <div class="row">
                <label class="required" for="datarange">Enter 10 numbers comma separated</label>
                <input type="text" id="datarange" name="datarange" [(ngModel)]="model.datarange" required>
              </div>
              <div class="row">
                <label for="avg">Average of numbers: </label>
                <label id="avg"  style="color: darkgreen"></label>
              </div>
              <div class="row">
                <label for="max">Maximum of numbers: </label>
                <label id="max" style="color: darkgreen"></label>
              </div>
            </fieldset>
          </div>
          <div class="container">
            <label for="comments">Additional Comment</label><br>
            <textarea id="comments" rows="5" cols="200" [(ngModel)]="model.comments"></textarea>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="element right">
              <label class="required" for="date">Submission Date:</label>
              <input type="date" id="date" name="date" [(ngModel)]="model.date" required>
            </div>
          </div>
          <div class="row">
            <div class="element right">
              <input type="reset" name="reset" value="Reset">
            </div>
            <div class="element left">
              <input type="submit" name="submit" value="Submit Survey" (click)="submitSurvey()">
            </div>
          </div>
        </div>
      </form>
    </div>
  </article>
</section>

<footer>
  <div class="row">
    <div class="left-column">
      <p>
        <strong>Powered By</strong> Sara Borghei<br><br>Contact info:
      </p>
      <address>
        <a class="footermenu" href="mailto:sborghei@masonlive.gmu.edu">
          <i class="fa fa-envelope-open" style="font-size:24px"></i>
          sborghei@gmu.edu
        </a>
        <br><br>
        <a class="footermenu" href="tel:+17039931000">
          <i class="fa fa-phone" style="font-size:24px"></i>
          1 (703) 993-1000
        </a>
      </address>
    </div>
    <div class="right-column">
      <a href="https://www2.gmu.edu/" target="_blank">
        <img alt="George Mason University" height="90" src="assets/mason-logo.png" width="125">
      </a>
    </div>
  </div>
</footer>

<datalist id="52states">
  <option value="maine">Maine</option>
  <option value="new hampshire">New Hampshire</option>
  <option value="vermont">Vermont</option>
  <option value="massachusetts">Massachusetts</option>
  <option value="connecticut">Connecticut</option>
  <option value="rhode island">Rhode Island</option>
  <option value="new york">New York</option>
  <option value="new jersey">New Jersey</option>
  <option value="pennsylvania">Pennsylvania</option>
  <option value="delaware">Delaware</option>
  <option value="maryland">Maryland</option>
  <option value="virginia">Virginia</option>
  <option value="florida">Florida</option>
  <option value="texas">Texas</option>
  <option value="kentucky">Kentucky</option>
  <option value="tennessee">Tennessee</option>
  <option value="north carolina">North Carolina</option>
  <option value="south carolina">South Carolina</option>
  <option value="georgia">Georgia</option>
  <option value="alabama">Alabama</option>
  <option value="mississippi">Mississippi</option>
  <option value="arkansas">Arkansas</option>
  <option value="louisiana">Louisiana</option>
  <option value="missouri">Missouri</option>
  <option value="oklahoma">Oklahoma</option>
  <option value="ohio">Ohio</option>
  <option value="nebraska">Nebraska</option>
  <option value="michigan">Michigan</option>
  <option value="indiana">Indiana</option>
  <option value="wisconsin">Wisconsin</option>
  <option value="illinois">Illinois</option>
  <option value="minnesota">Minnesota</option>
  <option value="iowa">Iowa</option>
  <option value="north dakota">North Dakota</option>
  <option value="south dakota">South Dakota</option>
  <option value="kansas">Kansas</option>
  <option value="colorado">Colorado</option>
  <option value="new mexico">New Mexico</option>
  <option value="arizona">Arizona</option>
  <option value="nevada">Nevada</option>
  <option value="california">California</option>
  <option value="wyoming">Wyoming</option>
  <option value="montana">Montana</option>
  <option value="utah">Utah</option>
  <option value="idaho">Idaho</option>
  <option value="washington">Washington</option>
  <option value="oregon">Oregon</option>
  <option value="alaska">Alaska</option>
  <option value="hawaii">Hawaii</option>
  <option value="west virginia">West Virginia</option>
</datalist>

<datalist id="months">
  <option value="january">January</option>
  <option value="february">February</option>
  <option value="march">March</option>
  <option value="april">April</option>
  <option value="may">May</option>
  <option value="june">June</option>
  <option value="july">July</option>
  <option value="august">August</option>
  <option value="september">September</option>
  <option value="october">October</option>
  <option value="november">November</option>
  <option value="december">December</option>
</datalist>

<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
